@model Blog.ViewModels.EntryVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*https://stackoverflow.com/questions/24958602/how-to-add-only-those-script-and-css-files-necessary-to-views-with-partial-views*@
@Styles.Render("~/Content/summernote")

<h1>Opret indlæg</h1>
<a href="/Entry/Index/" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Tilbage til forsiden</a>
<hr />
<form action="/Entry/CreateEntry/" method="post" class="form-horizontal">
    <div class="form-group">
        <label>Titel på indlægget:</label>
        <input name="Title" type="text" required class="form-control" value="@Model.Title" />
    </div>
    <div class="form-group">
        <label>Selve indlægget:</label>
        <textarea id="Text" name="Text" class="form-control">@Model.Text</textarea>
    </div>
    <div class="form-group">
        <label>Skal indlægget udgives?</label>
        @*https://stackoverflow.com/questions/11839525/make-a-checkbox-checked-or-unchecked-based-on-the-value*@
        <input name="IsPublished" type="checkbox" class="checkbox_check" value="@Model.IsPublished" onclick="checkCheckbox();">
    </div>
    <p>
        <label class="alert-danger" style="@Model.ResultVisble">@Model.Result</label>
    </p>
    <input type="submit" name="CreateEntry" value="Opret indlæg" class="btn btn-success" />
</form>
<script>
    //https://stackoverflow.com/questions/7960208/jquery-if-checkbox-is-checked
    function checkCheckbox() {
        if ($('input.checkbox_check').is(':checked')) {
            $('input.checkbox_check').val('true');
        }
        else {
            $('input.checkbox_check').val('false');
        }
    }
</script>

@*http://www.c-sharpcorner.com/UploadFile/3d39b4/bootstrap-wysiwyg-editor-in-Asp-Net-mvc/*@
@section scripts{
    @Scripts.Render("~/bundle/summernote",
                    "~/Scripts/home-index.js")
}

