@model Blog.ViewModels.EntryVM
@{
    ViewBag.Title = "Home Page";
}
<h1>Alle indlæg</h1>

<hr />
<div class="line">
    @foreach (var entryvm in Model.Entries)
    {
        <div class="well">
            <div class="pub">
                <p>
                    @if (entryvm.IsPublished == true)
                {
                        <b>
                            Skrevet af @entryvm.UserName
                        </b>
                    }
                </p>
                <i>@entryvm.Date.ToString("dd. MMMM yyyy kl. HH:mm")</i>
                <h2>@entryvm.Title</h2>
                <p>
                    @Html.Raw(entryvm.Text.Replace(Environment.NewLine, "<br/>"))
                </p>
            </div>
            <div class="text-right">
                <a href="/Home/Show/@entryvm.Id" class="btn btn-xs btn-primary">Vis mere</a>
            </div>
        </div>            

    }
</div>
<div class="profile">
    <div class="well">
        <div class="login">
            @Html.Partial("_loginViewFront")
        </div>
    </div>
</div>